venv/
env/
.env
.claude/
.gitignore
__pycache__/
*.pyc
*.pyo

*.pt
*.pth
*.weights
*.onnx
data/

datasets/dataloader/*raw.txt
documents/
.ipynb_checkpoints/

.DS_Store
Thumbs.db

*Zone.Identifier
*.Identifier

.vscode/

FBOD/


**/*.pyc
**/*.mp4
**/*.pth
**/*.jpg
**/*.png
# **/*.txt
**/*.json
**/logs/*
**/*.sh